@{
    ViewBag.Title = "Home";
}

<div class="row">
    <hr />
    <div class="col-md-4">

        <h2><i class="material-icons" style="border-radius: 50%; padding: 10px; background-color:#ebebeb; font-size:40px;color: #000000; margin-right:0.2em">storage</i> Sets</h2>
        <p>
            Adding elements into a set, considering some rules like, one element can be added just once. If you try to add 
            an element that's already in the set, it won't be added again. And also remove one element whenever you want.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44367/Sets/Sets">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2><i class="material-icons" style="border-radius: 50%; padding: 10px; background-color:#ebebeb; font-size:40px;color: #000000; margin-right:0.2em">linear_scale</i> Sequences</h2>
        <p>
            Add real numbers and see how they get into two lists to be ordered from min to max and vice versa. 
            You also can remove an element from the list.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44367/Sequences/Sequences">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2><i class="fa fa-hand-scissors-o" style="border-radius: 50%; padding: 10px; background-color:#ebebeb; font-size:40px;color: #000000; margin-right:0.2em"></i> Rock-Paper-Scissors</h2>

        <p>
           Wanna take some risk?!
           Here you'll find the game Rock-Paper-Scissors, where you can play againts the computer, just by selecting
           one of the 3 images already there. Then, hope for the better. 
        </p>
        <p><a class="btn btn-default" href="https://localhost:44367/RPS/RPS">Learn more &raquo;</a></p>
    </div>
</div>